body {
    height:300px;
    background-color:aliceblue;
}

h1 {
    background-color:floralwhite;
    color: rgb(62, 62, 179);
    text-align: center;
}

main {
    height:300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box-char-home {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home {
    border-radius: 30%;
    width:163px;
    height:227px;
}

.btn-home{
    background-color:greenyellow;
    color:black;
}
